
.download {
    float:right;
    margin-right: 10px !important; 
}

.card {
    max-width: 100%;
    margin-top: 1%;
    margin-left: 15px;
    margin-right: 15px;
}
    
.avatar1 {
    background-color: green;
}

.checkCircle {
   height: 1.5em;
}